{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Hem</h1>
    <p>Jag heter Linnea Nordlund och studerar webprogrammering på Blekinge Tekniska Högskolan.</p>
    <p>Innan jag började studera vid högskolan har jag både jobbat och gått enstaka kurser i lite allt möjligt. Under min gymnasie tid gick jag tekniskprogrammet med inriktningen design och produktutveckling.</p>
    <p>På min fritid brukar jag läsa och ta det lugnt.</p>
    <a class = "meImg" href="{{ asset('img/gustavkatt.jpg') }}">
        <img src="{{ asset('img/gustavkatt.jpg') }}" width="400px" alt="A image on a ballon cat">
    </a>
{% endblock %}