{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
    <div class="report-nav">
        <a href="#kmom01" class="reports">kmom01</a>
        <a href="#kmom02" class="reports">kmom02</a>
        <a href="#kmom03" class="reports">kmom03</a>
        <a href="#kmom04" class="reports">kmom04</a>
        <a href="#kmom05" class="reports">kmom05</a>
        <a href="#kmom06" class="reports">kmom06</a>
        <a href="#kmom07/10" class="reports">kmom07/10</a>
    </div>
    <h1>Report</h1>
    <div class="kmom" id="kmom01">
        <h2>Kmom01</h2>
        <p>I  en tidigare kurs har jag arbetat med objektorienterad python, vilket ser annorlunda ut till viss del då språken är annorlunda och för min del upplever jag att objektorienteringen med PHP är svårare.</p>
        <p>En klass är en kodstruktur som har vissa egenskaper, exempelvis kan den ha ett nummer och en färg. Klassen kan därpå användas på ett objekt för att ge objektet klassens egenskaper. Detta gör att klasserna är väldigt effektiva att använda om man ska ge fler objekt liknande egenskaper.</p>
        <p>Jag uppfattar att strukturen, kodbasen och koden för uppgiften är relativt tydlig med de olika delarna av den. Innan jag blev van vid den var det ganska mycket och kändes väldigt svårt att arbeta med då det var ovant för mig och jag upplevde att jag använde väldigt lite av den kod som behövs för att programmet skulle fungera. Men det blev lättare efter det att jag arbetat med den ett tag.</p>
        <p>Artikel “PHP The Right Way” upplevde jag hade väldigt mycket nyttig information var templetin delen, då den gav en ingång i Tempelting delen av uppgiften och gjorde den mycket lättare att genomföra och förstå både övningen och uppgiften.</p>
        <p>Jag skulle vilja lära mig mer om säkerhetsdelen, då det dels känns väldigt centralt men också intressant och är väldigt viktigt. Detta är också något jag upplever att jag inte vet mycket om.</p>
        <p>För detta moment är något nytt jag har lärt mig är om symfoni, vad det är och hur det kan läggas upp, även hur man kan skapa en controller för routrarna och skapa klasser med dessa.</p>
    </div>
    <div class="kmom" id="kmom02">
        <h2>Kmom02</h2>
    </div>
    <div class="kmom" id="kmom03">
        <h2>Kmom03</h2>
    </div>
    <div class="kmom" id="kmom04">
        <h2>Kmom04</h2>
    </div>
    <div class="kmom" id="kmom05">
        <h2>Kmom05</h2>
    </div>
    <div class="kmom" id="kmom06">
        <h2>Kmom06</h2>
    </div>   
    <div class="kmom" id="kmom07/10">
        <h2>Kmom07/10</h2>
    </div>
{% endblock %}